{% if customers is defined %}
{% for customervrf, value in customers.items() %}
ip vrf {{ customervrf }}
{% if 'rd' in value %}
 rd {{ value.rd }}
{% endif %}
{% if 'rt' in value %}
 route-target export {{ value.rt }}
{% endif %}
{% if 'rt' in value %}
 route-target import {{ value.rt }}
{# enable cef globally #}
ip cef
{% endif %}
{% endfor %}
{% endif %}


